h1 {
    color: blue;
    background-color: olive;
    text-align: center;
}

h2 {
    color: blueviolet;
    text-align: left;
}

.text {
    color: peru;
}

.toast {
    color: cornflowerblue;
}

ul {
    color: coral;
}

ol {
    color: darkseagreen;
}