h1 {
    background-color: olivedrab;
    color: yellow;
    text-align: center;
    font-size: 50px;
}

ul {
    color: olivedrab;
    background-color: aquamarine;
    text-align: center;
    font-size: 25px;
}